body,
html {
  background: #494fec;
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
}

.heading {
  color: #fff;
  font-size: 2.9em;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}

.sub-heading {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.embed-demo {
  margin-top: 16px;
}

.gumroad-embed-source {
  color: #fff;
  font-weight: bold;
}
